[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
uuid = "*"
boto3 = "*"
pyjwt = "*"
python-dotenv = "*"
bcrypt = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.9"
