.groupScreen {
  min-height: 100vh;
}

.groupScreen__main {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
  background-color: #edf2f7;
}

.groupsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}
