.homeScreen {
  min-height: 100vh;
}

.homeScreen__main {
  min-height: calc(100vh - 60px);
  display: flex;
  padding: 10px 0 0 0;
  background-color: #edf2f7;
}

.homeScreen__main .homeScreen__middle {
  flex: 0.6;
  margin: 0 5px 5px 5px;
  border-radius: 7px;
}

.homeScreen__main .homeScreen__left {
  flex: 0.2;
  margin: 0 5px 5px 10px;
  border-radius: 7px;
}

.homeScreen__main .homeScreen__right {
  flex: 0.2;
  margin: 0 10px 5px 5px;
  border-radius: 7px;
}
