.loginScreen {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.loginScreen__left {
  flex: 0.6;
  background-image: linear-gradient(to top right, #00c6ff, #00c6ff);
}

.loginScreen__right {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginScreen .heading {
  margin-left: 3rem;
}

.loginScreen .formWrapper {
  width: 100%;
  height: 60%;
  padding: 1rem 3rem;
  border-radius: 0.75rem;
}

.formWrapper .formControl {
  margin: 1rem 0;
}

.registerLinkContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.registerLink {
  margin-left: 0.6rem;
}
