.navBar {
  height: 60px;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  background-color: #edf2f7;
  border-bottom: 1px solid gray;
}

.navBar__right {
  flex: 0.2;
  display: flex;
  justify-content: flex-end;
}

.navBar__middle {
  flex: 0.6;
  display: flex;
  justify-content: center;
}

.navBar__left {
  flex: 0.2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navItem {
  margin: 0 10px;
}
