.postCard__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postCard__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postCard__bottom .votes {
  display: flex;
  align-items: center;
}

.postCard__bottom .up,
.postCard__bottom .down {
  display: flex;
  align-items: center;
  margin-right: 18px;
}
